.arcgis-iframe-wrapper {
  height: 0;
  padding-bottom: 75%; /* 4:3 aspect ratio = (3 / 4) * 100% */
  position: relative;
}
.arcgis-iframe-wrapper.arcgis-aspect.arcgis-3x4 {
  height: 0;
  padding-bottom: 133.33333%; /* 3:4 aspect ratio = (4 / 3) * 100% */
  position: relative;
}
.arcgis-iframe-wrapper > iframe {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
